/* Inially everthing have these properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

/* Body background will be changed everytime the site is loaded */
body {
    /* background: linear-gradient(to bottom right, aqua 0%, blueviolet 50%, blueviolet 50%, plum 100%); */
    background: url("https://source.unsplash.com/random/1800×2700/?movie-poster");
    background-size: cover;
}

/* properties for the navbar */
.navbar {
    position: relative;
    height: 100px;
    border-bottom: 3px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
    padding: 0 2.5px;
    background: linear-gradient(to bottom right, aqua 0%, blueviolet 50%, blueviolet 50%, plum 100%);
}

/* properties for logo image */
#imgg {
    position: relative;
    left: 100px;
    height: 70px;
    display: inline-block;
    border: 4px solid black;
    border-right: none ;
    /* border-radius: 5px;
    background: linear-gradient(to bottom right, aqua 0%, plum 100%); */
    /* box-shadow: 2px 2px 1px rgb(255, 255, 255); */
}

/* properties for logo text */
.logo {
    position: relative;
    font-weight: bolder;
    font-size: 30px;
    display: inline-block;
    margin-left: 80px;
    left: 10px;
    bottom: 20px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* background: linear-gradient(to bottom right, aqua 0%, plum 100%); */
    padding-right: 10px;
    /* border: 4px solid black;
    border-radius: 5px;
    border-left: none; */
    /* box-shadow: 5px 5px 1px rgb(255, 255, 255); */
}

/* properties of search input */
#sear {
    position: relative;
    left: 100px;
    text-align: center;
    height: 30px;
    width: 250px;
    border: none;
    border-color: black;
    border-radius: 5px;
}

/* properties for the search button */
#suc , #reloadButton {
    position: relative;
    left: 100px;
    text-align: center;
    font-weight: bolder;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 30px;
    width: 70px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgb(61, 55, 55);
    border-color: rgb(227, 210, 210);
}

/* properties to change background on clicking a button */
#reloadButton {
    width: 120px ;
}

/* properties for the previous Button  */
#prevButton {
    /* justify-content: centre ; */
    text-align: center;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px ;
    /* width:130px;     */
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgb(61, 55, 55);
    border-color: rgb(227, 210, 210);
}

/* properties for the next button */
#nextButton {
    text-align: center;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px ;
    /* width: 100px; */
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgb(61, 55, 55);
    border-color: rgb(227, 210, 210);
}

#prevButton:hover , #nextButton:hover {
    background-color: rgb(189, 81, 243) ;
} 

/* properties to set the search icon in right place */
#icon {
    height: 30px;
    position: relative;
    left: 100px;
    top: 15px;
}

/* properties for the side bar */
.sidebar {
    position: absolute;
    background: linear-gradient(to bottom right, aqua 0%, blueviolet 50%, blueviolet 50%, plum 100%);
    top: 100px;
    left: 0;
    width: 280px;
    height:500px;
    z-index: 100;
    transition: transform 0.3s ease;
    font-size: 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

/* properties for side bar to open and close it */
.sidebar.active {
    transform: translateX(0);
}

/* properties for the toggle-btn */
.toggle-btn {
    position: absolute;
    top: 35px;
    left: 30px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toggle-btn span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: rgb(2, 0, 0);
    margin-bottom: 4px;
    transform: translateY(-50%);
}

/* properties for the side menu links */
.link {
    display: block;
    width: 100%;
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
}

/* properties when side bar mennu is hovered it pops up and background also changes */
.link:hover {
    /* background-color: rgba(88, 72, 88, 0.582); */
    background-color: white;
    font-size: 25px;
}

/* home link properties */
#home {
    background-color: rgb(194, 189, 189) ;
}

/* home link while hover on it */
#home:hover {
    background-color: white;
}

/* properties of the add button */
#add {
    position: relative;
    top: 100px;
    left: 60px;
    font-size: 10px;
    font-weight: bold;
    padding: 12px 60px;
    color: white;
    background-color: black;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgb(108, 99, 99);
}

/* properties of bosy part that will conatian the movie posters */
.container {
    margin-left: 80px;
    margin-right: 70px;
    margin-top: 50px;
    margin-bottom: 50px ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.7fr));    /* to make website responsive */
    grid-row-gap: 80px;
    grid-column-gap: 50px;
    transition: transform 0.3s ease-in-out;
}

/* properties of place where posters are shown */
.box {
    border: 5px solid black;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    height: 400px;
}

/* properties while hover on poster of movie */
.box img:hover {
    position: relative;
    top: 25.5px;
    transform: scale(1.3);
}

/* properties for the poster which will be shown when movie is searched */
#poster p {
    font-size: 2em;
    color: black;
    text-align: center;
    justify-content: center;
    /* border-bottom: 5px solid black ; */
} 

/* properties for the footer */
.foot {
    border-top: 5px solid black ;
    padding: 20px ;
    text-align : center ;
    text-decoration: underline ;
    font-size: 30px ;
    padding-bottom: 35px ;
    background: linear-gradient(to bottom right, aqua 0%, blueviolet 50%, blueviolet 50%, plum 100%);
}

/* condition to make navbar and side bar responsive when screen size increases and decreases */
@media (max-width: 800px) {
    .navbar {
        height: 150px;
        border-bottom: 3px solid black;
    }

    .sidebar {
        margin-top: 50px;
    }
}

@media (max-width: 500px) {
    .navbar {
      flex-direction: column;
      height: 200px ;
      align-items: center;
    }

    #reloadButton {
        position:  relative ;
        left: 180px ;
    }
  
    #sear {
      margin-bottom: 10px;
    }
  }
  
